<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <targets async="true">
      <!-- add your targets here -->
      <target xsi:type="File" 
              header="---------- CLIENT LOGS ----------" 
              footer="---------- CLIENT LOGS ----------" 
              deleteOldFileOnStartup="true" 
              name="f" 
              fileName="${basedir}/logs/Client.log" 
              layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${onexception:${newline}EXCEPTION OCCURRED\:${newline}${exception:format=tostring}"/>

      <target xsi:type="ColoredConsole"
              header="---------- CLIENT LOGS ----------"
              name="coloredConsole"
              layout="${longdate} ${callsite} ${uppercase:${level}} ${message} ${onexception:${newline}EXCEPTION OCCURRED\:${newline}${exception:format=tostring}"/>
    </targets>

    <rules>
      <!-- add your logging rules here -->


      <logger name="*" minlevel="Trace" writeTo="f"/>
      <logger name="*" minlevel="Debug" writeTo="coloredConsole"/>
    </rules>
  </nlog>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding>
          <security mode="Transport">
            <transport msmqAuthenticationMode="WindowsDomain" />
          </security>
        </binding>
      </netMsmqBinding>
      <customBinding>
        <binding name="discoBindingConfiguration">
          <discoveryClient>

          </discoveryClient>
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="net.msmq://localhost/private/distributor" 
                binding="netMsmqBinding" 
                contract="Contracts.Services.IDistributorService" 
                name="Contracts.Services.IDistributorService">
      </endpoint>
    </client>

    <services>
      <service name="Client.ClientServiceHandler">
        <endpoint address="net.msmq://localhost/private/client" 
                  binding="netMsmqBinding" 
                  contract="Contracts.Services.IClientService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
